body {
    position: center;
    top: 50%;
    left: 50%;
}

div.container {
    position: relative;
    display: inline-block;
    text-align: center;
}

a.navbar-brand {
    position: relative;
    display: inline-block;
    text-align: center;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.logo {
    width: 300px;
    height: auto;
    margin-left: 40px;

}

.header-one {
    font-family: Papyrus, serif;
    font-weight: bolder;
    color: chocolate;
    margin-left: 15px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.vertical-menu {
    width: 400px; /* Set a width if you like */
}

.vertical-menu a {
    font-size: large;
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
    font-family: Papyrus, serif, bold;

}

.vertical-menu a:hover {
    background-color: lightseagreen; /* Dark grey background on mouse-over */
    color: white;
    text-decoration: none;
}

.vertical-menu a.active {
    background-color: lightseagreen; /* Add a green color to the "active/current" link */
    color: white;
    text-decoration: none;
}

.bg-error {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-submit-button {
    color: black;
    background-color: transparent;
    border: none;
    padding: 12px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: Papyrus, serif, bold;
    text-shadow: none;
    margin: -10px;
}

a.active .form-submit-button {
    background-color: lightseagreen; /* Add color to "active/current" link */
    color: white;
    text-decoration: none;
}

a:hover .form-submit-button {
    background-color: lightseagreen; /* mouse-over */
    color: white;
    text-decoration: none ;
}
.row a{
    display: flex;
}

.col-sm-6 {
    flex: 50%;
    margin-top: 20px;
}

.container-fluid{
    margin-top: 1%;
    margin-bottom: 5%;
}
.control-label {
    text-align-all: left;
}
label {
    margin-top: 15px;
}
h2 {
    text-align: center;
    margin-top: 5px;
}
h1, h3, h4, h5 {
    text-align: center;
    margin-top: 0px;
    margin-left: 5px;
}
.alert-info {
    text-align: center;
}
.btn-success {
    margin-left: 160px;
}
/*.column-login {*/
/*    margin-top: 10px;*/
/*}*/
/*.column-login a {*/

/*}*/

/*.row a{*/
/*    position: relative;*/
/*}*/

/*@keyframes example {*/
/*    from {background-color: red;}*/
/*    to {background-color: yellow;}*/
/*    from {background-color: blueviolet;}*/
/*    to {background-color: gold;}*/
/*    from {background-color: blue;}*/
/*    to {background-color: seagreen;}*/
/*}*/

/*!* The element to apply the animation to *!*/
/*.form-submit-button {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: transparent;*/
/*    animation-name: example;*/
/*    animation-duration: 4s;*/
/*    animation-iteration-count: 10;*/
/*}*/

/*.column-login {*/
/*    float: left;*/
/*    width: 40%;*/
/*}*/

/*!* Clear floats after the columns *!*/
/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/