<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Leeski Banking</title>
<!--    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">-->

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/css/style.css" th:href="@{/static/css/css/style.css}">

</head>
<body>

<!--	 create navi bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="preLogin.html" th:href="@{/}">Home</a>
            <a class="navbar-brand " href="registration" th:href="@{/registration}">Register</a>
            <a class="navbar-brand " href="preLogin.html" th:href="@{/}">Login</a>
            <a class="navbar-brand " href="http://www.google.com" th:src="@{http://www.google.com}">Search</a>
        </div>
    </div>
</nav>
<br>
<br>

<!--<section class="h-100 gradient-form">-->

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">

                                    <!--				<-- Welcome  -->
                                    <img src="/static/css/img/moneyLogo.jpg" class="logo" width="300" height="auto">.</img>
                                    <div class="header-one">
                                        <h2>Leeski Banking</h2>
                                    </div>
                                    <form th:action="@{/login}" method="post">

                                        <!-- error message -->
                                        <div th:if="${param.error}">
                                            <div class="alert alert-danger">Invalid username or
                                                password.
                                            </div>
                                        </div>

                                        <!-- logout message -->
                                        <div th:if="${param.logout}">
                                            <div class="alert alert-info">You have been logged out.</div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="username"> Username </label> :
                                            <input type="text" class="form-control" id="username" name="username"
                                                   placeholder="Enter Email" autofocus="autofocus">
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="password">Password</label>: <input type="password"
                                                                                           id="password" name="password"
                                                                                           class="form-control"
                                                                                           placeholder="Enter Password"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit"
                                                           class="form-control btn btn-primary" value="Log In"/>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="d-flex align-items-center justify-content-center pb-4">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
                                    </div>
                                    <!--				<div class="flex-content container-fluid alert-info">-->
                                    <!--					<p class="mb-0 me-2">Forgotten something?</p>-->
                                    <!--					<a th:href="@{/dashboard}" class="btn-link">Browse users</a>-->
                                    <!--				</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</section>-->
</body>
</html>