<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>

    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<!--	 create navigation bar ( header) -->
<div class="scrollmenu">
    <a href="main_menu" th:href="@{/main_menu}">Home</a>
    <a href="login.html" th:href="@{/logout}">Login</a>
    <a href="http://www.google.com" th:src="@{http://www.google.com}">Search</a>
    ...
</div>

<!-- Create HTML registration form -->
<div class="vertical-menu container-fluid text-center">

    <img src="/img/moneyLogo.jpg" th:href="@{/img/moneyLogo.jpg}" class="logo">

    <div class="header-one">
        <h2>Leeski banking</h2>
    </div>
    <div class="vertical-menu container-fluid text-left">
        <div class="row">

            <!-- success message -->
            <div th:if="${param.success}">
<!--                <div class="alert alert-info">You've successfully opened an account!-->
<!--                </div>-->
            </div>

            <h3>Open an account</h3>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}"
                           required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label> <input
                        id="lastName" class="form-control" th:field="*{lastName}"
                        required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}" required
                        autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
<!--                    <input type="button" class="btn btn-info"-->
<!--                            onclick="location.href='login';"-->
<!--                            th:href="@{/login}" value="Login"/>-->
<!--                    <span>Already have an account? <a href="/" th:href="@{/login}">Login-->
<!--								here</a></span>-->
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
